# Pandas 应用：

In [24]:
import pandas as pd

data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
    }

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df[1:3])
# print(df.loc[1:2, ['Name', 'Age']])
df['calories'] = [100, 200, 300]
print(df)

      calories  duration
day2       380        40
day3       390        45
      calories  duration
day1       100        50
day2       200        40
day3       300        45

In [17]:
# 为数据框增加多行/列数据：
# 1. 使用join方法增加多列数据时，默认how='left'
# 解决方法1：为新DataFrame设置相同的索引
new_cols = {
'col1': [1, 2, 3],
'col2': [4, 5, 6]
}
# df = df.join(pd.DataFrame(new_cols, index=["day1", "day2", "day3"]))
df = df.join(pd.DataFrame(new_cols, index=["day1", "day2", "day4"]))


# 解决方法2：直接赋值（更简单）
# df['col1'] = [1, 2, 3]
# df['col2'] = [4, 5, 6]

df = df.assign(col3=[7, 8, 9], col4=[10, 11, 12])
print(df)

In [7]:
#读取csv/写入csv
import pandas as pd
df = pd.read_csv('./pandas_learning_data/nba.csv',header=0,index_col=0)
print(df)
df.to_csv('./pandas_learning_data/nba_new.csv')

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0
...                          ...        ...
Shelvin Mack              Butler  2433333.0
Raul Neto                    NaN   900000.0
Tibor Pleiss                 NaN  2900000.0
Jeff Withey               Kansas   947276.0
NaN                          NaN        NaN

[458 rows x 8 columns]

In [ ]:
# 数据清洗：删除空值： #DataFrame.dropna(axis=0, how="any", subset=None, inplace=False)
import pandas as pd
df = pd.read_csv('./pandas_learning_data/property-data.csv', header=0)
# 判断"NUM_BEDROOMS"列中是否存在空值
print(df["NUM_BEDROOMS"].isnull())
# 指定空值并寻找”NUM_BEDROOMS“列中空值的行
missing_values = ["n/a", "na", "--"]
df = pd.read_csv("./pandas_learning_data/property-data.csv", na_values=missing_values)
print(df["NUM_BEDROOMS"])
print(df["NUM_BEDROOMS"].isnull())
# 删除包含空值的行
df.dropna()
# 删除指定列中包含空值的行
df.dropna(subset=["NUM_BEDROOMS"])
# 修改源数据
df.dropna(inplace=True)

In [11]:
#数据清洗：用均值/中位数/众数填充空值
df=pd.read_csv("./pandas_learning_data/property-data.csv", na_values=missing_values)
x=df["NUM_BEDROOMS"].mean()
df["NUM_BEDROOMS"].fillna(x,inplace=True)
print(df)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y      3.000000        1  1000.0
1  100002000.0   197.0   LEXINGTON            N      3.000000      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N      2.166667        1   850.0
3  100004000.0   201.0    BERKELEY           12      1.000000      NaN   700.0
4          NaN   203.0    BERKELEY            Y      3.000000        2  1600.0
5  100006000.0   207.0    BERKELEY            Y      2.166667        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN      2.000000   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y      1.000000        1     NaN
8  100009000.0   215.0     TREMONT            Y      2.166667        2  1800.0

C:\Users\99238\AppData\Local\Temp\ipykernel_33104\201829347.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["NUM_BEDROOMS"].fillna(x,inplace=True)

In [12]:
#要避免链式赋值
df["NUM_BEDROOMS"][df["NUM_BEDROOMS"] > 2] = 5
print(df)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           5.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           5.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           5.0        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           5.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           5.0        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           5.0        2  1800.0

C:\Users\99238\AppData\Local\Temp\ipykernel_33104\3109753141.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["NUM_BEDROOMS"][df["NUM_BEDROOMS"] > 2] = 5
C:\Users\99238\AppData\Local\Temp\ipykernel_33104\3109753141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["NUM_BEDROOMS"][df["NUM_BEDROOMS"] > 2] = 5

In [5]:
#分组聚合
import pandas as pd
data={
    'Department': ['HR', 'Finance', 'HR', 'IT', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [50000, 60000, 55000, 70000, 75000]
}
df=pd.DataFrame(data)
df.groupby("Department").agg({"Salary":"mean"})
# 多重聚合
df.groupby("Department").agg({"Salary":["mean","sum"]})

# 分组后排序
df.groupby("Department").apply(lambda x: x.sort_values("Salary"))
#

C:\Users\99238\AppData\Local\Temp\ipykernel_16888\1659626096.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("Department").apply(lambda x: x.sort_values("Salary"))

             Department Employee  Salary
Department
Finance    1    Finance      Bob   60000
HR         0         HR    Alice   50000
           2         HR  Charlie   55000
IT         3         IT    David   70000
           4         IT      Eve   75000

In [4]:
# 数据框的拼接：
import pandas as pd
# 1. 数据库方式的拼接
left = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
right = pd.DataFrame({'ID': [1, 2, 4], 'Age': [24, 27, 22]})


result = pd.merge(left, right, on='ID', how='inner')
print(result)

# 2. 沿轴连接
print(pd.concat([left,right],axis=0))
print(pd.concat([left,right],axis=1))
#重新设置索引
print(pd.concat([left,right],axis=0).reset_index()) #索引会变成新列

print(pd.concat([left,right],axis=0).reset_index(drop=True))

# 3. 索引方式的拼接
result = left.join(right.rename(columns={'ID': 'ID_right'}), how='inner')
print(result)

   ID   Name  Age
0   1  Alice   24
1   2    Bob   27
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie   NaN
0   1      NaN  24.0
1   2      NaN  27.0
2   4      NaN  22.0
   ID     Name  ID  Age
0   1    Alice   1   24
1   2      Bob   2   27
2   3  Charlie   4   22
   index  ID     Name   Age
0      0   1    Alice   NaN
1      1   2      Bob   NaN
2      2   3  Charlie   NaN
3      0   1      NaN  24.0
4      1   2      NaN  27.0
5      2   4      NaN  22.0
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie   NaN
3   1      NaN  24.0
4   2      NaN  27.0
5   4      NaN  22.0
   ID     Name  ID_right  Age
0   1    Alice         1   24
1   2      Bob         2   27
2   3  Charlie         4   22

In [22]:
#自定义函数的应用
import pandas as pd 
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

def custom_function(x):
    return x ** 2

df1 = df.apply(custom_function)
print(df,df1)
df.applymap(custom_function)

   A  B
0  1  4
1  2  5
2  3  6    A   B
0  1  16
1  4  25
2  9  36

C:\Users\99238\AppData\Local\Temp\ipykernel_21576\3994728373.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(custom_function)

   A   B
0  1  16
1  4  25
2  9  36

In [3]:
import pandas as pd

# 创建元组
index_tuples = [('A', 1), ('A', 2), ('B', 1), ('B', 2)]

# 创建多重索引
multi_index = pd.MultiIndex.from_tuples(index_tuples, names=['Letter', 'Number'])

# 创建 DataFrame
df = pd.DataFrame({'Value': [10, 20, 30, 40]}, index=multi_index)
print(df)

               Value
Letter Number
A      1          10
       2          20
B      1          30
       2          40